body {
    margin: 0; 
    font-family: Arial;   
}

header{
    background-color: rgb(30, 11, 83);
    color: aliceblue;
    font-family: tahoma;
    padding: 2rem;
}

footer{
    background-color: rgb(31, 14, 44);
    color: rgb(226, 196, 255);
    padding-top: 3rem;
    padding-bottom: 3rem;
    font-weight: bold;
}

footer li{
    list-style: none;
}

nav{
    background-color: rgb(31, 14, 44);
    padding: 1rem;
    margin-bottom: 4rem;
}

li a{
    color: rgb(226, 196, 255);
    font-weight: bold;
    text-decoration: none;
    font-size: large;
    transition: background-color 0.2s;
    padding: 1rem;
    border-radius: 1rem;
}

.container{
    width: 70vw;
    margin: auto;
    border: 2px solid rgb(31, 14, 44);
    padding: 0.5rem;
    border-radius: 1rem;
    margin-bottom: 2rem;
    display: flex;
    flex-direction: column;
    justify-items: center;
}

.container h2{
    background-color: rgb(31, 14, 44);
    color: #fff;
    padding: 1rem;
    text-align: center;
    border-radius: 1rem;
    width: 250px;
    align-self: center;
}

.container input{
    width: 90%;
    margin-bottom: 0.5rem;
    padding: 1rem;
    border-radius: 1rem;
    border: 2px solid rgb(31, 14, 44);
    align-self: center;
}

.container input:hover{
    background-color: rgb(245, 243, 243);
    align-self: center;
}

.container button{
    margin-bottom: 1rem;
    padding: 0.5rem;
    width: 250px;
    background-color: rgb(31, 14, 44);
    color: #fff;
    border-radius: 1rem;
    font-weight: bold;
    cursor: pointer;
    align-self: center;
}

.container button:hover{
    background-color: rgb(31, 14, 44);
    align-self: center;
}
