body {
    margin: 0; 
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;   
    background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(10, 3, 29) 35%,
    rgba(33, 8, 24) 100%
);
}

.container{
    width: 40vw;
    margin: auto;
    margin-top: 10rem;
    border-radius: 5rem;
    margin-bottom: 10rem;
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    background-image: url(https://i.pinimg.com/originals/89/a5/15/89a515a9139a729f621a94bc03bf90b4.gif);
    background-position: center;
}

.container h2{  
    color: rgb(255, 255, 255);
    text-align: center;
    font-size: 280%;
}
.container h3{  
    color: rgb(255, 255, 255);
}

.container input{
    width: 87%;
    margin-bottom: 0.5rem;
    padding: 1rem;
    border-radius: 1rem;
    outline: none;
    border: 2px solid rgb(33, 8, 24);
}

.container button{
    margin-bottom: 6px;
    padding: 0.5rem;
    width: 100%;
    background-color: rgb(33, 8, 24);
    color: #fff;
    border-radius: 1rem;
    font-weight: bold;
    cursor: pointer;
}

p, a{
    color: #fff;
}
p{
    color: #fff;
}

h5{
    color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    font-size: 300%;

}